.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    font-style: italic;
}

.p-text{
    text-align: justify;
}

input::placeholder{
    font-size: 13px;
}

.mb20{
    margin-bottom: 20px;
}

.mb10{
    margin-bottom: 10px;
}

.mt20{
    margin-top: 20px;
}

.h5{
    text-transform: uppercase;
    font-weight: normal;
}

table .image{
    height: 73px;
    display: block;
}

.img-conver img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

table strong {
    min-width: 88px;
    display: inline-block;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td{
    vertical-align: middle;
}

.uk-flex-space-between{
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.uk-flex-middle{
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.uk-flex{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.filter-wrapper{
    margin-bottom: 20px;
}

.filter-wrapper .perpage {
    display: inline-block;
}

.selected-role{
    max-width: 200px;
}

.text-search{
    max-width: 200px;
}

.filter .form-control {
    height: 32px;
    max-width: 200px;
}

.mr75{
    margin-right: 75px;
}


.mr20{
    margin-right: 20px;
}

.mr10{
    margin-right: 10px;
}

.mr5{
    margin-right: 5px;
}

.mt2{
    margin-top: 2px;
}

.mt15{
    margin-top: 15px;
}

.mt5{
    margin-top: 5px;
}


.mb10{
    margin-bottom: 10px;
}

.box .ibox{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.control-lable{
    display: block;
}

.panel-title{
    font-weight: 700;
    color: 1a1a1a;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.panel-sub-title{
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.panel-description{
    font-size: 15px;
}

.hr-margin{
    margin-top: 10px;
    margin-bottom: 10px;
}

.select2-container .select2-selection--single{
	height:32px !important;
	-webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-transition-property: color,-webkit-box-shadow;
    transition-property: color,-webkit-box-shadow;
    transition-property: box-shadow,color;
    transition-property: box-shadow,color,-webkit-box-shadow;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(63,63,68,.05);
    box-shadow: inset 0 1px 0 0 rgba(63,63,68,.05);
    border: 1px solid #c4cdd5;
    outline: none;
	background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f9fafb));
    background: linear-gradient(to bottom,#fff,#f9fafb);
    border-color: #c4cdd5;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height:31px !important;
    font-size:13px; 
}
 .form-control{
     height:32px;
}

.active-bg{
    background: #ffc !important;
}

#checkAll,
.checkBoxItem{
    width: 15px;
    height: 15px;
}

.switchery-small {
    border-radius: 20px;
    height: 20px;
    width: 33px
}

.switchery-small>small {
    height: 20px;
    width: 20px
}
.select2-container--default{
    margin-right:10px;
}
